body {
    background-color: lightgray;
}
h1{
    color:darkred;
}
#wrapper #submito{
    color: #f6f6f6;
    background-color: darkred;
    font-weight: bold;
}
#yeahmotherfucker{
    height: 300px;
    display: none;
}